/* Navbar at the top */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 100%);
    color: rgb(0, 0, 0);
}

/* Main content */
.content {
    min-height: 100vh; 
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 200px 0;
    margin-bottom: -300px;
    margin-top: -450px;
}

.quantathon-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.maincontent h2 {
    font-size: 2.5rem;
    margin-top: -50px;
}

.maincontent p {
    font-size: 1.5rem;
    max-width: 100%; 
    text-align: center;
}


.about {
    margin-top: 200px;
    font-size: 1.5rem;
    padding: 20px; 
    border-radius: 50px; 
    margin-bottom: 400px;
}


.apply-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #000000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #ffffff; 
    color: black;
}

.apply-button:focus {
    outline: none;
}


.floating-navbar {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1100;
}

.main-circle {
    width: 80px;
    height: 80px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.main-circle:hover {
    background-color: #333;
}

.circle-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.main-circle:hover .dropdown {
    opacity: 1;
    visibility: visible;
}


.dropdown-circle {
    width: 60px;
    height: 60px;
    background-color: #444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.dropdown-circle:hover {
    background-color: #666;
}

.dropdown-circle img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
